.container-wrapper{
  padding: 0 10px;
  margin-bottom: 10px;
}
.btn-info{
  display: block;
  width: 100%;
  margin: 10px 0;
}
.course{
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.rated {
  color: red;
}
