form{
  width: 700px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid gray;
  border-radius: 10px;
}
input.has-error,
textarea.has-error {
  border: 1px solid red;
}
span.has-error {
  color: red;
}
