<app-breadcrumbs [title]="breadCrumbsTitle" *ngIf="show"></app-breadcrumbs>
<form (ngSubmit)=onSave() [formGroup]="courseForm">
  <div class="form-group">
    <label for="title">Title:</label>
    <span *ngIf="hasError(courseForm.get('title'))" [ngClass]="{'has-error': hasError(courseForm.get('title'))}">
      This field is required with max length 50 symbols
    </span>
    <input type="text" class="form-control" [ngClass]="{'has-error': hasError(courseForm.get('title'))}" formControlName="title" id="title" placeholder="Video Course">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <span *ngIf="hasError(courseForm.get('description'))" [ngClass]="{'has-error': hasError(courseForm.get('description'))}">
      This field is required with max length 500 symbols
    </span>
    <textarea class="form-control" [ngClass]="{'has-error': hasError(courseForm.get('description'))}" formControlName="description" id="description"
    placeholder="Lorem Ipsum"></textarea>
  </div>
  <app-date [creationDate]="course.creationDate" [formControl]="courseForm.controls.creationDate"></app-date>
  <app-duration [duration]="course.duration" [formControl]="courseForm.controls.duration"></app-duration>
  <app-authors [authors]="course.authors" [formControl]="courseForm.controls.authors"></app-authors>
  <button type="submit" class="btn btn-info" [disabled]="!courseForm.valid">Save</button>
  <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>
